* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(to right top, #051937, #004872, #008793, #00bf72, #a8eb12); }

h1 {
  color: white;
  font-size: 60px;
  margin: 20px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #bb7600;
  -webkit-text-fill-color: #ffffff; }

.cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.calculadora {
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  background-color: #101010;
  padding: 15px; }

.contP {
  width: 90%; }

#textoPantalla {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 24px;
  width: 100%;
  height: 35px;
  border: 2px solid #bb7700;
  border-radius: 15px;
  padding: 3px 10px;
  background-color: black;
  margin: 0;
  color: #bb7700; }

.operadores {
  display: inline-block;
  padding: 0 15px;
  margin-top: 20px; }
  .operadores [type=button] {
    width: 45px;
    height: 30px;
    margin: 0 4px;
    font-size: 16px;
    background-color: black;
    border-radius: 5px;
    border: none;
    color: #bb7700;
    font-weight: bold; }
    .operadores [type=button]:hover {
      background-color: #0c0c0c;
      color: #c27b01;
      cursor: pointer; }
  .operadores .largo {
    color: red;
    width: 70px; }
    .operadores .largo:hover {
      color: red; }
  .operadores div {
    margin-top: 15px; }

.botones {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#calculadora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.sign {
  margin-top: 15px;
  color: black;
  text-decoration: none; }
